  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald|Raleway" rel="stylesheet">
<meta name="viewport" content="width=device-width">
<script src="https://use.fontawesome.com/dc91d56b6c.js"></script>
<style type="text/css">
	*{
		font-family: 'Open Sans', sans-serif;
	}
	.main-header{
		text-align: center;
		padding: 0px 15px;
	    margin-top: 20px;
	    margin-bottom: 20px;
	}
	.top-row{
		/*margin-top: 60px;*/
		  background: #3b796f; /* For browsers that do not support gradients */
		  background: -webkit-linear-gradient(left top, #030a09, #54d2ef); /* For Safari 5.1 to 6.0 */
		  background: -o-linear-gradient(bottom right, #030a09, #54d2ef); /* For Opera 11.1 to 12.0 */
		  background: -moz-linear-gradient(bottom right, #030a09, #54d2ef); /* For Firefox 3.6 to 15 */
	    background: linear-gradient(to bottom right, #030a09, #54d2ef);
	    min-height: 50px;
	    color: white;
	    margin-bottom: 0px;
	}
	.navigation-row{
		margin: 0px;
		padding-left: 30px;
		padding-top: 15px;
	}
	.a-nav{
		color: white;
		margin-right: 15px;
	}
	.body-col p{
	    font-size: 1.3em;
	    /* padding: 5px 15px; */
	    text-align: justify;
	    margin-top: 30px;
	    color: #777;
	}
	.body-col a{
		text-decoration: underline;
		color: black;
		font-weight: bold;
		margin: 0px;
	}
	.call-col{
		/*padding-top: 25px;*/
	}
	.call{
		text-align: center;
	}
	.social{
		display: inline-block;
		margin-right: 30px;
	}
	.navbar-default{
		background-color: white;
		border-color: #ececec;
		padding: 0px 15px;
	}
	.img-fluid{
		height: auto;
		width: 100%;
	}
	.landing-row .col-sm-12{
		padding: 0px;
	}
	.img-overlay{
	    position: absolute;
	    top: 0;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    text-align: center;
	    margin-top: 4%;
	}
	.img-overlay h1{
	    font-size: 5vw;
	    color: black;
		font-family: 'Oswald', sans-serif;
	}
	.nav li a{
		font-family: 'Raleway', sans-serif;
	}
	.navbar-brand{
		font-family: 'Raleway', sans-serif;
	}
	.landing-row{
		margin-top: 50px;
	}
	.body-headers{
		font-family: 'Oswald', sans-serif;
		margin: 20px 0px 45px;
		text-align: center;
	}
	.body-row{
		margin-top: 15px;
	}
	.copyright{
		float: right;
		margin-top: 5px;
		font-size: 0.8em;
	}
	.fa{
		color: #777;
		/*margin-right: 30px;*/
		font-size: 1.5em;
	}
	.footer-container{
		padding: 15px 30px;
		background-color: #ececec;
	}
	.coming-soon{
		/*text-align: center;*/
		margin: 30px 0px 60px;
	}
	a{
	  -moz-transition: all 0.6s;
      -webkit-transition: all 0.6s;
      transition: all 0.6s;
	}
	a:focus{
		text-decoration: none;
	}
	.fa{
	  -moz-transition: all 0.6s;
      -webkit-transition: all 0.6s;
      transition: all 0.6s;	
	}
	.footer-container .fa:hover{
		color: black;
	}
	.nav li a:hover{
		/*font-weight: bold;*/
		color: black;
	}
	.body-col a:hover{
		color: #ececec;
		text-decoration: none;
	}
@media only screen and (max-width: 768px) {
	.img-overlay{
		margin-top: 0%;
	}
	.body-headers{
		font-size: 3vh;
	}
	.social-row{
		display: none;
	}
	.body-col p{
		text-align: unset;
	}

}
@media only screen and (max-width : 550px) {
	.img-overlay{
		position: initial;
	    background-image: url(<%= image_path('landing.png') %>);
	    background-size: cover;
	    background-repeat: no-repeat;
	    padding: 30px 0px;
	}
	.body-headers{
		font-size: 4vh;
		text-align: center;
	}
	.img-overlay h1{
		font-size: 5vh;
	}
	.navbar-default{
		padding: 0px;
	}
	.footer-container{
		padding-left: 25px;
		padding-right: 25px;
	}
	.coming-soon{
		text-align: center;
	}
	.img-div img{
		display: none;
	}
}

#map{
	min-height: 500px;
	margin: 60px 0px 15px;
}

#legend{
	background-color: white;
	margin-left: 15px;
    padding: 5px 25px;
    max-height: 400px;
    overflow: scroll;
}

#legend li{
	/*font-size: 1.2em;*/
}

#legend li:hover{
	cursor: pointer;
}

.panel-title{
	color: #333;
	font-family: 'Oswald', sans-serif;
	font-size: 4vh;	
}

.panel a:hover{
	color: #ececec;
	text-decoration: none;
}

.panel:hover{
	background-color: #ececec;
}

.panel{
	  -moz-transition: all 0.6s;
      -webkit-transition: all 0.6s;
      transition: all 0.6s;	
}

.participating-row{
	/*margin-bottom: 60px;*/
}

.btn-grey { 
	font-family: 'Oswald', sans-serif;
	margin: 0px auto;
    color: #777777; 
    background-color: #ECECEC; 
    border-color: #777777;
    display: block;
    font-size: 2vh;
    width: 100%; 
} 
 
.btn-grey:hover, 
.btn-grey:focus, 
.btn-grey:active, 
.btn-grey.active, 
.open .dropdown-toggle.btn-grey { 
  color: #777777; 
  background-color: #333333; 
  border-color: #777777; 
} 
 
.btn-grey:active, 
.btn-grey.active, 
.open .dropdown-toggle.btn-grey { 
  background-image: none; 
} 
 
.btn-grey.disabled, 
.btn-grey[disabled], 
fieldset[disabled] .btn-grey, 
.btn-grey.disabled:hover, 
.btn-grey[disabled]:hover, 
fieldset[disabled] .btn-grey:hover, 
.btn-grey.disabled:focus, 
.btn-grey[disabled]:focus, 
fieldset[disabled] .btn-grey:focus, 
.btn-grey.disabled:active, 
.btn-grey[disabled]:active, 
fieldset[disabled] .btn-grey:active, 
.btn-grey.disabled.active, 
.btn-grey[disabled].active, 
fieldset[disabled] .btn-grey.active { 
  background-color: #ECECEC; 
  border-color: #777777; 
} 
 
.btn-grey .badge { 
  color: #ECECEC; 
  background-color: #777777; 
}

.mailing-row{
	margin: 120px 0px;
}

.social{
	max-height: 560px;
	/*overflow: scroll;*/
	margin: 0px;
	margin-bottom: 15px;
}

.body-headers a i:hover{
	color: black;
}

.noScroll{
	overflow: none;
}

.doScroll{
	overflow: scroll;
}

.big-fa{
	margin-bottom: 30px;
}

.social-li a{
	display: inline-block !important;
	padding-right: 0px !important;
}

.social-li a .fa:hover{
	color: black;
}

.maptitle{
	text-align: center;
}

.wherewhen{
	margin-top: 0px;
	font-size: 1.5em;
}

.panel-body{
	padding-top: 5px;
}

.panel-body p{
	font-size: 1.3em;
}

.title-ital{
	font-style: italic;
	font-family: 'Oswald';
	color: #777;
}

</style>
<!-- <div class="row top-row">
	<div class="row navigation-row">
		<a href="/remembrance" class="a-nav">Past Events</a>
		<a href="https://docs.google.com/forms/d/e/1FAIpQLSc3NdbPfSsDrLDmWh9rcaHC69pKy9dF2wltXzOXYnOl2QGqAg/viewform" class="a-nav" target="_blank">Call For Submissions Form</a>
	</div>
	<div class="row header-row">
		<div class="col-sm-2">
		</div>
		<div class="col-sm-8">
			<h2 class="main-header">LA Road Concerts - National and Washington</h2>
		</div>
		<div class="col-sm-2">
		</div>
	</div>
</div> -->
<div class="container-fluid">
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">LA Road Concerts</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Submit<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#call">Call For Submissions</a></li>
	              <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSc3NdbPfSsDrLDmWh9rcaHC69pKy9dF2wltXzOXYnOl2QGqAg/viewform" class="a-nav" target="_blank">Submission Form</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Maps<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#mapLink">Interactive Map</a></li>
	              <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSc3NdbPfSsDrLDmWh9rcaHC69pKy9dF2wltXzOXYnOl2QGqAg/viewform" class="a-nav" target="_blank">Downloadable PDF (coming soon)</a></li>
                </ul>
              </li>
              <li><a href="#participating">Participating Artists</a></li>
              <li><a href="#downloadable">Downloadable Art</a></li>
              <li><a href="#mailinglist">Mailing List</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Past Events<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/remembrance" target="_blank">DTLA - Day of Remembrance</a></li>
                  <li><a href="https://laroadconcerts.github.io/" id="pdf" target="_blank">Mulholland Dérive</a></li>
                  <li><a href="https://laroadconcerts.github.io/washington.htm" id="pdf" target="_blank">Washington Blvd</a></li>
                  <li><a href="https://laroadconcerts.github.io/sunset.htm" id="pdf" target="_blank">Sunset Blvd</a></li></li>
                  <li><a href="https://laroadconcerts.github.io/sanfernando.htm" id="pdf" target="_blank">San Fernando</a></li>
                </ul>
              </li>
              <li class="social-li"><a href="https://www.facebook.com/laroadconcerts/" target="_blank"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a><a href="https://www.instagram.com/laroadconcerts/" target="_blank"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a><a href="https://twitter.com/laroadconcerts" target="_blank"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a></li>
            </ul>
  <!--           <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="./">Default <span class="sr-only">(current)</span></a></li>
              <li><a href="../navbar-static-top/">Static top</a></li>
              <li><a href="../navbar-fixed-top/">Fixed top</a></li>
            </ul> -->
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
     <div class="row landing-row">
     	<div class="col-sm-12 img-div">
	     	<%= image_tag('landing.png', :class => 'img-fluid') %>
	     	<div class="img-overlay">
		     	<h1>NATIONAL & WASHINGTON</h1>
		     	<h1>ROAD CONCERT</h1>
		     	<h1 id="call">11.11.2017</h1>
		     </div>
	     </div>
     </div>
	<div class="row body-row">
		<div class="col-sm-2">
		</div>
		<div class="col-sm-8 call-col body-col">
			<h1 class="body-headers">CALL FOR SUBMISSIONS</h1>
			<p>Los Angeles Road Concerts is seeking artists of all kinds to install or perform site-specific works in unused public space within walking distance of the intersection of National and Washington Blvds for the afternoon of November 11, 2017 (Veterans Day). Submissions may be sent through the <a href="https://docs.google.com/forms/d/e/1FAIpQLSc3NdbPfSsDrLDmWh9rcaHC69pKy9dF2wltXzOXYnOl2QGqAg/viewform" target="_blank">online form</a> or to <a href="mailto:laroadconcerts@gmail.com">laroadconcerts@gmail.com</a>.</p>
			<p>In five previous events, LA Road Concerts has shown work from over 280 Los Angeles artists in unused public outdoor space. In a “road concert” participating artists display installations, perform works, facilitate carpool happenings, host spontaneous readings, and make music in unexpected spaces, such as on the sidewalk, between dumpsters, along streetlamps, as well as inside the audience’s earbuds as they traverse the path of the road concert. Works can be in one location, many locations, or no location in particular. Participating artists don't need to be physically present and may choose to make downloadable work. Through a wide-ranging open call process, LA Road Concerts brings together art school graduates, working artists, local residents and other artists, writers, musicians, performers, to realize a broad array of kinds of interactions with the sites.</p>
			<p>Projects might respond to the idea of nations (versus our planet), the constitution, and making art in a time of war. Additionally, projects might respond to the site of Culver City and consider the role of art in capitalism. This particular road concert is part of the Untested Address event series, hosted by UMM (the Unconfirmed Makeshift Museum) at Klowden Mann, a Culver City gallery. How could "we the people" and/or the greater art world benefit from bringing everyone together, even those who would never find themselves in Culver City? How do we make value outside the institution, or infiltrate institutions to amplify our voice? What does it mean to make and show art (right) outside commercial mainstream private galleries?</p>
			<p>The preferred deadline for submissions is October 24th, though submissions will be accepted until the week before the event.</p>
			<p>An official map of the day’s events along with project descriptions and other downloadable information will be available to the public a week before the event on the event website (www.laroadconcerts.com). Previous road concert projects can be viewed through the website.</p>
			<p>Please contact us with any proposals, questions, or suggestions at <a href="mailto:laroadconcerts@gmail.com">laroadconcerts@gmail.com</a>. Or feel free to call or text me (Stephen van Dyck) at 505-331-9588 to discuss your potential submission. And please forward this along to anyone who you think would be interested in getting involved.</p>
			<p>Thank you,</p>
			<p>LA Road Concerts / Stephen van Dyck</p>
			<hr/>
		</div>
		<div class="col-sm-2">
		</div>
	</div>
<!-- 	<div class="row body-row">
		<div class='col-sm-2'>
		</div>
		<div class="col-sm-8 body-col">
			<h1 class="body-headers coming-soon">MORE INFO COMING SOON</h1>
		</div>
	</div> -->
	<div class="row body-row map-row" id="mapLink">
		<div class="col-sm-12">
			<h1 class="body-headers">INTERACTIVE MAP</h1>
			<div id="map">
			</div>
			<ul id="legend">
				<% @artists.each do |val| %>
					<% if val.lat != "" && val.long != "" %>
				        <li id="<%= val.name_id %>"><%= val.name %></li>
			        <% end %>
		        <% end %>
			  </ul>
		</div>
	</div>
	<div class="row body-row participating-row" id="participating">
		<div class="col-sm-2">
		</div>
		<div class="col-sm-8">
			<h1 class="body-headers">PARTICIPATING ARTISTS</h1>
			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
			<% count = 0 %>
			<% if @artists %>
				<% @artists.each do |val| %>
					  <div class="panel panel-default" id="scroll<%= val.name_id %>">
					    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= count %>" aria-expanded="false" aria-controls="collapseOne">
						    <div class="panel-heading" role="tab" id="headingOne">
						      <h4 class="panel-title"><%= val.name %> <span class="title-ital">- <%= val.title %></span></h4>
						    </div>
						</a>
					    <div id="collapse<%= count %>" class="scroll<%= val.name_id %> panel-collapse collapse<% if count == 0 %> in <% end %>" role="tabpanel" aria-labelledby="headingOne">
					      <div class="panel-body">
					      	<h5 class="wherewhen"><%= val.where %> - <%= val.when %></h5>
					        <%= simple_format(val.copy) %>
					      </div>
					    </div>
					  </div>
					<% count += 1 %>
				  <% end %>
			  <% end %>
			</div>
		</div>
		<div class="col-sm-2">
		</div>
	</div>
	<% if @download_artists.length > 0 %>
		<div class="row body-row participating-row">
			<div class="col-sm-2">
			</div>
			<div class="col-sm-8">
				<h1 class="body-headers" id="downloadable">DOWNLOADABLE ART</h1>
				<div class="panel-group" id="accordion-download" role="tablist" aria-multiselectable="true">
				<% count = 0 %>
				<% if @download_artists %>
					<% @download_artists.each do |val| %>
						  <div class="panel panel-default">
						    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseDownloadable<%= count %>" aria-expanded="false" aria-controls="collapseOne">
							    <div class="panel-heading" role="tab" id="headingOne">
							      <h4 class="panel-title"><%= val.name %> <span class="title-ital">- <%= val.title %></span></h4>
							    </div>
							</a>
						    <div id="collapseDownloadable<%= count %>" class="panel-collapse collapse<% if count == 0 %> in <% end %>" role="tabpanel" aria-labelledby="headingOne">
						      <div class="panel-body">
						      	<% if val.id == 7 %>
						      		<span class="downloadable-links">
						      		<p><%= link_to "D.C. Poised to Change Liscense Plate Slogan in Push to Become 51st State", asset_path('DC_Liscense_Plate.pdf') %></p>
						      		<p><%= link_to "H.R. 1291", asset_path('HR_1291.pdf') %></p>
						      		<p><%= link_to "U.S. Constitution", asset_path('Constitution.pdf') %></p>
							      	</span>
							     <% elsif val.id == 8 %>
							     	<span class="downloadable-links">
							     		<p>Watch <a href="https://vimeo.com/162703003">here</a></p>
							     		<p>Password: ColdPlanet</p>
							     	</span>
							     <% end %>
						        <%= simple_format(val.copy) %>
						      </div>
						    </div>
						  </div>
						<% count += 1 %>
					  <% end %>
				  <% end %>
				</div>
				<hr/ id="mailinglist">
			</div>
			<div class="col-sm-2">
			</div>
		</div>
	<% end %>
	<div class="row body-row mailing-row">
		<div class="col-sm-4">
		</div>
		<div class="col-sm-4">
			<h1 class="body-headers">MAILING LIST</h1>
			<% if flash[:thanks] %>
				<h3 class="body-headers" id="thanks">THANK YOU FOR SUBSCRIBING!</h3>
				<h4 class="body-headers">WE WILL EMAIL YOU (BUT NOT SPAM YOU) UPDATES ABOUT THE EVENT!</h4>
			<% else %>
            <form action='/mail' method='post' data-remote="false" id='mailerform'>
            <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
              <div class="form-group">
			    <input type="text" name="first" class="form-control" id="first_name" placeholder="First Name">
			  </div>
              <div class="form-group">
			    <input type="text" name="last" class="form-control" id="last_name" placeholder="Last Name">
			  </div>
			  <div class="form-group">
			    <input type="text" name="email" class="form-control" id="email" placeholder="Email">
			  </div>
              <button class="btn btn-grey" type="submit" name="action">JOIN</button>
            </form>
            <% end %>
		</div>
		<div class="col-sm-4">
		</div>
	</div>
	<div class="row body-row social-row">
		<div class="col-sm-12">
					<hr/>
		</div>
		<div class="col-sm-6 twittcont section scrollspy noscroll">
			<h1 class="body-headers big-fa"><a href="https://twitter.com/laroadconcerts" target="_blank"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a></h1>
				<div class="col-sm-12 social noScroll">
				  <a class="twitter-timeline" href="https://twitter.com/LARoadConcerts" target="_blank">Tweets by LARoadConcerts</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
				</div>
		</div>
		<div class="col-sm-6">
			<h1 class="body-headers big-fa"><a href="https://www.instagram.com/laroadconcerts/" target="_blank"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></i></h1>
				<div class="col-sm-12 social noScroll">
					<h5><a href="https://www.instagram.com/laroadconcerts/" target="_blank">@LARoadConcerts</a> on Instagram</h5>
					<!-- LightWidget WIDGET --><script src="//lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/a33c1e9a12cf5f1f896f021e85ea49b9.html" id="lightwidget_a33c1e9a12" name="lightwidget_a33c1e9a12"  scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
				</div>
		</div>
	</div>
	</div>
</div>
    <footer class="footer">
      <div class="container-fluid footer-container">
        <p class="text-muted"><span class="copyright">&copy; 2017 LA Road Concerts</span></p>
      </div>
    </footer>
<script type="text/javascript">
      function initMap() {
    // Create a map object and specify the DOM element for display.
    var map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: parseFloat('34.028689'), lng: parseFloat('-118.385719')},
      zoom: 16
    });
    var infowindow = new google.maps.InfoWindow();
    // positions
    <% @artists.each do |val| %>
    	<% if val.lat != "" && val.long != "" %>
	    	var pos<%= val.id %> = {lat: <%= val.lat %>, lng: <%= val.long %>};
		    var contentString<%= val.id %> = '<div class="content">'+
		        '<div id="siteNotice">'+
		        '</div>'+
		        "<h5 class='maptitle'><a class='bodyScroll' href='#scroll<%= val.name_id %>'><%= val.title %></a></h5 class='maptitle'>" +
		        '<div class="mapBodyContent">'+
		        '<h6><%= val.name %></h6>'+
		        "<p><%= val.where %></p>" + 
		        "<p><%= val.when %></p>" +
		        '</div>'+
		        '</div>';
		    var marker<%= val.id %> = new google.maps.Marker({
		      position: pos<%= val.id %>,
		      map: map,
		      title: '<%= val.title %>',
		      icon: "<%= escape_javascript asset_path('location_icon.png') %>"
		    });
		    marker<%= val.id %>.addListener('click', function(){
			    infowindow.close();
			    infowindow.setContent(contentString<%= val.id %>);
			    infowindow.open(map, marker<%= val.id %>);
		    });
		    $('#<%= val.name_id %>').click(function(){
		    infowindow.close();
		    infowindow.setContent(contentString<%= val.id %>);
		    infowindow.open(map, marker<%= val.id %>);
		    });
		    marker<%= val.id %>.addListener('click', function(){
			    infowindow.close();
			    infowindow.setContent(contentString<%= val.id %>);
			    infowindow.open(map, marker<%= val.id %>);
		    });
		<% end %>
	<% end %>
    // var khost = {lat: 34.051836, lng: -118.245442};
    //     // NEW STUFF
    // var contentStringKhost = '<div id="content">'+
    //     '<div id="siteNotice">'+
    //     '</div>'+
    //     '<h6>Alex Khost & Amy Bauer</h6>'+
    //     '<div class="mapBodyContent">'+
    //     "<p>In Memoriam: A Funeral Procession for the Death of Love</p>" +
    //     "<p>Spring / 1st to 4th - 11:30 PM</p>" +
    //     '</div>'+
    //     '</div>';
    // var markerKhost = new google.maps.Marker({
    //   position: khost,
    //   map: map,
    //   title: 'In Memoriam: A Funeral Procession for the Death of Love',
    //   icon: "<%= escape_javascript asset_path('location_icon.png') %>"
    // });
    // $('#khost').click(function(){
    // infowindow.close();
    // infowindow.setContent(contentStringKhost);
    // infowindow.open(map, markerKhost);
    // });
    // markerKhost.addListener('click', function(){
	   //  infowindow.close();
	   //  infowindow.setContent(contentStringKhost);
	   //  infowindow.open(map, markerKhost);
    // });
    map.controls[google.maps.ControlPosition.LEFT_TOP].push(document.getElementById('legend'));

	// google.maps.event.addListenerOnce(map, 'tilesloaded', mapScroll);

 //  	function mapScroll(){
 //  		console.log('fired');
 		$(document).on('click', '.bodyScroll', function(){
		    var href = $(this).attr('href');
		    var anchor = $(href);
		    sbstr = href.substring(1);
		    $('.' + sbstr).collapse('show');
			$('html, body').animate({
			    scrollTop: anchor.offset().top-100
			}, 1500);
		});
 //  	}
}


	$('ul.nav').find('a').click(function(){
	    var href = $(this).attr('href');
	    var anchor = $(href);
	    console.log(anchor);
		$('html, body').animate({
		    scrollTop: anchor.offset().top-100
		}, 1500);
	    $('.btn-navbar').click(); //bootstrap 2.x
	    $('.navbar-toggle').click() //bootstrap 3.x by Richard
	    // return false;
	});



	window.onscroll = function(ev) {
	    if ((window.innerHeight + window.pageYOffset) >= document.body.offsetHeight) {
	        $('.social').removeClass('noscroll');
	        $('.social').addClass('doScroll');
	    }
	};
<% if flash[:thanks] %>
		$('html, body').animate({
		    scrollTop: $('#thanks').offset().top-100
		}, 500);
<% end %>
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD-n3Bj4NngwQhrVi_vTrFVwNSEMHP8UAw&callback=initMap" async defer></script>

